In [2]:
import pandas as pd
import matplotlib.pyplot as plt
low_memory=False
pd.options.display.max_columns = 80
pd.options.display.max_rows = 90

In [7]:
filename = r'./covid19-brazil.csv'
df = pd.read_csv(filename, delimiter=',', encoding='UTF-8')

In [8]:
df.shape

(488284, 17)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488284 entries, 0 to 488283
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   regiao                 488284 non-null  object
 1   estado                 488161 non-null  object
 2   municipio              482908 non-null  object
 3   coduf                  488284 non-null  int64
 4   codmun                 484840 non-null  float64
 5   codRegiaoSaude         482908 non-null  float64
 6   nomeRegiaoSaude        482908 non-null  object
 7   data                   488284 non-null  object
 8   semanaEpi              488284 non-null  int64
 9   populacaoTCU2019       486352 non-null  object
 10  casosAcumulado         488284 non-null  int64
 11  casosNovos             488284 non-null  int64
 12  obitosAcumulado        488284 non-null  int64
 13  obitosNovos            488284 non-null  int64
 14  Recuperadosnovos       69 non-null      float64
 15  emAcompanhamentoNovos  69 non-null      float64
 16  FgMetro                482908 non-null  float64
dtypes: float64(5), int64(6), object(6)
memory usage: 63.3+ MB

In [10]:
df = pd.DataFrame(data={
    "regiao": df["regiao"],
    "estado": df["estado"],
    "municipio": df["municipio"],
    "data": df["data"],
    "casos": df["casosAcumulado"],
    "obitos": df["obitosAcumulado"]
})
df.sample(10)

              regiao estado         municipio       data  casos  obitos
364569           Sul     PR   Francisco Alves  4/21/2020      0       0
304171       Sudeste     SP          Bertioga   6/6/2020    148       7
343029       Sudeste     SP      Santa Branca   4/9/2020      2       1
170572      Nordeste     BA            Banzaê  5/22/2020      1       0
309472       Sudeste     SP     Cesário Lange   5/2/2020      0       0
252666       Sudeste     MG       Ouro Branco  6/21/2020     36       0
2282         Sudeste     ES               NaN   5/3/2020   3086     114
479559  Centro-Oeste     GO           Jussara  4/11/2020      0       0
410696           Sul     SC        Sul Brasil  5/26/2020      0       0
275276       Sudeste     MG  Serra da Saudade  5/30/2020      0       0

In [18]:
dates = [
    '2/25/2020', '2/29/2020',
    '3/1/2020', '3/31/2020',
    '4/1/2020', '4/30/2020',
    '5/1/2020', '5/31/2020',
    '6/1/2020', '6/26/2020'
]
df = df.loc[df["data"].isin(dates)]

In [ ]:
regional = df.query('regiao != "Brasil"')

fig, axs = plt.subplots(5)
regions = regional["regiao"].unique()

for i in range(5):
    regional_df = regional.query(f'regiao == "{regions[i]}"')
    x = regional["estado"]
    y = regional["casos"]
    axs[i].bar(x, y)

In [35]:
df["regiao"].unique()

array(['Brasil', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste'],
      dtype=object)